**/.dockerignore
**/.env
**/.git
**/.github
**/.gitattributes
**/.gitignore
**/.npmrc
**/.prettierrc\*
**/.vs
**/.vscode
**/compose.yml
**/Dockerfile
**/node_modules
**/dist
LICENSE
Makefile
README.md
