# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Build
dist/

# Logs
logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variable files
.env*

# yarn v2 | npm | pnpm
.npm
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn-integrity
.pnp.*

# Migrations
drizzle/*.sql
drizzle/meta/*.json
!drizzle/meta/_journal.json

# i18n
**/i18n/*.ts
!**/i18n/formatters.ts
!**/i18n/constants.ts